.error-indicator {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c78f22;
  }
.video-error{
    width: 150px;
    height: 150px;
    border-width: 0px;
    margin-bottom: 1rem;
}
.star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 100%;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
  }